*.swp
*.swo
*.swn
*.swm
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.suo
iisnode/
bin/
bld/
tags
.screenrc
public/app/bundle.js

pids
logs
results
build

node_modules
/release
/ts/*.js
lib-cov
public/app/bundle.js
DefinitelyTyped/
public/ts/*.js
